*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
        background-color: #ffffff9a;
   }


.navbar,nav{
     background-color: #000000;
     margin-bottom: 0px;
     margin-top: 0px;

}
nav a{
     color: #ff000d;
     text-align: center;
     text-decoration: none;
     float: right;
     overflow: hidden;
     font-weight: bolder;
     padding: 15px;
     font-family:cursive;
     font-size: larger;
}
nav a:hover{

     color: rgb(168, 37, 37);
     text-decoration: none;

}
.name_wb a{
     color: rgb(0, 255, 106);
}
.name_wb a:hover{
     color: rgb(75, 221, 131);
}
.home_video_title{
     position: relative;
     width: 100%;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     overflow: hidden;
     
}
.backgroundvideo{
     position: absolute;
}
.home_video_title,h1,h4{
     color: #ff000d;
     z-index: 1;
}
.name_wb{
     font-size: larger;
}
html, body {
     max-width: 100%;
     overflow: hidden;
 }